@import url(root.css);

.cart-overlay {
    position: fixed;
    top: 40px;
    right: 0px;
    width: 30rem;
}

.cart-overlay > div {
    background-color: var(--bgColor);
}

.cart-item {
    display: grid;
    width: inherit;
    grid-template-columns: 30rem;
    grid-template-rows: 20rem 5rem;
    padding: 5px;
}

.cart-item-image {
    place-self: center;
    background-size: cover;
    background-position: 50%;
    width: 20rem;
    height: 20rem;
    border-radius: 10%;
}
#fishing-kit-cart-item > .cart-item-image {
    background-image: url("../images/HeaderPicture.png");
}

.cart-item-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.cart-item-text > h3 {
    place-self: center;
}

.cart-item-amount {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.cart-item-amount-text {
    place-self: center;
}

.cart-item-button {
    width: 2rem;
    height: 2rem;
    place-self:center;
}