@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('root.css');

.navigation-links li a, .logo a, .account-links li a{
    text-decoration: none;
    font-weight: 600;
    color: var(--txtColor4);
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

header {
    height: 100vh;
}

.header {
    width: 100%;
    position: fixed;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    background-color: var(--bgColor);
}

.logo-nav {
    justify-content: start;
}

.navigation-nav {
    justify-content: center;
}

.account-nav {
    justify-content: right;
}

.logo, .account-links, .navigation-links{
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: default;
    padding: .7rem;
    height: 100%;
}

.logo {
    justify-content: left;
    background-image: url(../images/Logo.png);
    margin-left: 1rem;
    width: 4rem;
    background-size: 5rem;
    background-repeat: no-repeat;
    background-position-y: -.8rem;
    cursor: pointer;
}

.account-links {
    justify-content: right;
}

.logo a , .navigation-links li a, .account-links li a{
    transition: all 250ms ease 0s;
}

.logo a:hover, .navigation-links li a:hover, .account-links li a:hover {
    color: var(--txtColor)
}

.navigation-links li, .account-links li {
    display: inline-block;
}

.background-photo {
    height: 100%;
    width: 100%;
    background-image: url("../images/HeaderPicture.png");
    background-position: 50%;
    background-size: cover;
}