@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --txtColor: #ecf0f1;
    --bgColor: #ecf0f180;
    --hvrTxtColor: #ff1030;
    --brdrColor: #ecf0f1;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", sans-serif;
}

a, li {
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    color: var(--txtColor);
    padding: 5px 10px;
}

header {
    height: 1080px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    width: 100%;
}

.logo, .account-links, .navigation-links{
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    background: var(--bgColor);
    border-radius: 25px;
    border: solid;
    border-width: 3px;
    border-color: var(--brdrColor);
    margin: 10px;
    backdrop-filter: blur(4px);
}

.logo a , .navigation-links li a, .account-links li a{
    transition: all 250ms ease 0s;
}

.logo a:hover, .navigation-links li a:hover, .account-links li a:hover {
    color: var(--hvrTxtColor)
}

.navigation-links li, .account-links li {
    display: inline-block;
}

.divider {
    background-color: var(--brdrColor);
    padding: 5px 0px;
    height: 26px;
    width: 3px;
}

.background-photo {
    display: flex;
    align-content: center;
    justify-content: center;

    background: url(../images/HeaderPicture.png) repeat fixed 50%;
    background-size: cover;
    background-position-y: -100px;
    width: 100%;
    height: 720px;
    z-index: -1;
}

.background-photo h1 {
    margin-top: 15%;
    padding: 0px;
    font-size: 150px;
    color: var(--txtColor);
    transition: all 250ms ease 0s;
}

@media all and (max-width: 1300px) {
    .background-photo h1 {
        font-size: 100px;
        margin-top: 20%;
    }
}

@media all and (max-width: 900px) {
    .background-photo h1 {
        font-size: 75px;
        margin-top: 30%;
    }
}

@media all and (max-width: 700px) {
    .background-photo h1 {
        font-size: 50px;
        margin-top: 50%;
    }

    a, li {
        font-size: 16px;
    }

    .divider {
        height: 18px;
    }
}

@media all and (max-width: 500px) {
    .background-photo h1 {
        font-size: 40px;
        margin-top: 70%;
    }

    a, li {
        font-size: 13px;
    }

    .divider {
        height: 20px;
    }
}