@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('root.css');

.featured-title {
    margin: 0rem 4rem;
    color: var(--txtColor4);
    font-size: 3rem;
    font-weight: 600;
}

.featured-title::before {
    content: "";
    display: inline-block;
    width: .3rem;
    height: 2.1rem;
    margin-right: 9px;
    background-color: var(--txtColor);
}

.featured {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: auto;
}

.organizer {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    grid-row-gap: 2rem;
    margin: 2rem 5rem 3rem 5rem;
    width: 20rem;
}

.organizer-image1 {
    background-image: url('../images/HeaderPicture.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 25px;
    transition: all 750ms ease 0s;
    width: 100%;
}

.organizer-image2 {
    background-image: url('../images/HeaderPicture.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 25px;
    transition: all 750ms ease 0s;
    width: 100%;
}

.organizer-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10%;
}

.organizer-tag {
    font-weight: 600;
    align-self: center;
    color: var(--txtColor4);
}

.organizer-tag::before {
    content: "";
    display: inline-block;
    width: .2rem;
    height: .8rem;
    margin-right: 3px;
    background-color: var(--txtColor);
}

.organizer-title {
    font-weight: 600;
    font-size: 2rem;
    color: var(--txtColor4);
    text-decoration: none;
}

.organizer-lower {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.organizer-CTA {
    background-color: var(--bgColor2);
    align-self: center;
    justify-self: left;
    width: fit-content;
    padding: 1rem;
    text-decoration: none;
    color: var(--txtColor2);
    font-weight: 600;
    border-radius: 25px;
}

.organizer-extra {
    align-self: center;
    justify-self: left;
}

@media (max-width: 950px) {

}

@media (orientation: portrait) {

}