@import url('root.css');

.space-filler-small {
    height: 10rem;
    width: 100%;
}

.space-filler-medium {
    height: 25rem;
    width: 100%;
}

.space-filler-large {
    height: 40rem;
    width: 100%;
}